<!DOCTYPE html>
<html 
{% load static %}
lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index HTML and CSS </title>
  <link rel="stylesheet" href="{%static 'application/css/bootstrap.css' %}">
</head>
<body>
  <div class="container">
    <header class = "d-flex justify-content-between align-items-center py-2 mb-5">
      <a class="navbar-brand font-weight-bold">DJANGO PLAY</a>

      <nav class="">
        <a class = "btn btn-outline-primary" href = "{% url 'logout' %}" class=" "> Logout </a>
      </nav>
    </header>
    <!-- END OF THE HEADER -->

    <div class="content">
      <!-- START OF THE TASKS COLLECTION FORM  -->
      <section class = "mb-5 mt-3">

        <h4>Add New Task</h4>
        <form method = "POST" action = "{% url 'AddTask' %}">
          {% csrf_token %}
          <div class="form-row align-items-center">
            <div class="col-5">
              <label class="sr-only" for="inlineFormInput">Add Task.</label>
              <input type="text" id = "input" name = "task" class="form-control mb-2" id="inlineFormInput" placeholder="Add New Task Here...">
            </div>
          
            <div class="col-4 button-parent">
              <button id ="add-button" type="submit" class="btn btn-md btn-primary mb-2"> Add Task. </button>
            </div>
          </div>
        </form>
        
      </section>

      <section class = "my-3">
        <h4 class= "mb-3">New Tasks</h4>
        <hr>
        <table class="table  table-hover ">
          {% if uncompleted %}
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">Tasks</th>
                <th scope="col">Edit</th>
                <th scope="col">Marked</th>
                <th scope="col">Time Created</th>
              </tr>
            </thead>
          {% endif %}
          {% for task in uncompleted %}
          <tbody>
            <tr>
              <th scope="row"> {{ forloop.counter }} </th>
              <td> {{  task.task }} </td>
              <td> <a href="{% url 'edit' task.id  %}">Edit</a> </td>
              <td> <a href="{% url 'mark' task.id %}">Completed</a></td>
              <td id = "time" > {{task.created_time}} </td>
            </tr>

            {% empty%}
              <h4>No task yet</h4>
            {% endfor %}
            
          </tbody>
        </table>
      </section>

      <!-- this is the completed task section  -->
      <section class = "my-5">
        <h4 class =  "mb-3">Completed Tasks</h4>
        <hr>
        <table class="table table-bordered table-hover">
          {% if completed %}
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">Tasks</th>
                <th scope="col">Edit</th>
                <th scope="col">Marked</th>
                <th scope="col">Delete</th>
                <th scope="col">Time Created</th>
              </tr>
            </thead>
          {% endif %}
          {% for task in completed %}

          <tbody>
            <tr>
              <th scope="row"> {{ forloop.counter }} </th>
              <td> {{task.task}} </td>
              <td> <a href="{% url 'edit' task.id  %}">Edit</a> </td>
              <td> <a href="{% url 'restore' task.id %}">Restore</a></td>
              <td> <a href="{% url 'delete' task.id %}">Delete</a></td>
              <td id = "time" > {{task.created_time}} </td>
            </tr>

            {% empty%}
              <h4>No task yet</h4>

            {% endfor %}
            
          </tbody>
        </table>
      </section>

    </div>
    <!-- THIS IS THE END OF THE CONTENT OF THE SECTION  -->
    
  </div>

  <!-- THIS IS THE END OF THE WRAPPER OF THE HTML FILE  -->
  
</body> 
</html>